.typing-stats {
    display: flex;
    gap: 25px;
}

.stat {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    
    .label {
        font-family: monospace;
        font-size: 25px;
    }
    
    .value {
        font-family: monospace;
        font-size: 50px;
        background-color: #212121;
        padding: 5px 20px;
        border-radius: 5px;
    }
}